.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../pictures/videoBack3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(90%);
    overflow-x: hidden;
    overflow-y: auto;
}

.video-page-container {
    display: flex;
    padding: 260px 20px 20px 20px; /* top padding pushes videos down */
    max-width: 1120px;
    margin: 0 auto;
    background-color: transparent;
}


.side-bar {
    width: 240px;
    margin-top: 0;
}

.video-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    gap: 50px;
    padding-left: 40px;
}

.video-card-container {
    transition: transform 0.3s;
}

.video-card-container:hover {
    transform: translateY(-5px);
}

.rating-container {
    padding: 10px;
    text-align: center;
}

/* Centered, bigger PNG with minimal space from navbar */
.page-title-image {
    position: absolute;
    top: -50px; /* right below NavBar */
    left: 50%; /* horizontally centered */
    transform: translateX(-50%); /* offset to center properly */
    width: 750px; /* adjust as needed */
    height: auto;
    z-index: 900;
    pointer-events: none;
}
